/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hash da cor secundaria da nossa pagina 7209b7 */

body {
    height: 100vh;
    background-color: black;
    color: white;
}

.destaque_intro {
    color: #7209b7;
}

.conteudo {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo__apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-family: "Indie Flower", cursive;
    font-size: 36px;
}

.intro {
    font-family: "Mitr", sans-serif;
    font-size: 24px;
}

.foto_yuri {
    height: 420px;
    width: 392px;
    border-radius: 22px;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subtitulo_links {
    font-family: "Indie Flower", cursive;
    font-size: 24px;
    font-weight: 400;
}

/* 001d3d hash cor github, hash cor linkedIn 0077b6*/

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid #1e88e5;
    border-radius: 8px;
    width: 378px;
    padding: 21.5px 0;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.linkedin:hover {
    background-color: #272727;
    font-style: oblique;
}

.github {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid #001d3d;
    border-radius: 8px;
    width: 378px;
    padding: 21.5px 0;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.github:hover {
    background-color: #272727;
    font-style: oblique;
}


.instagram {
    /* background-color: #ff006e; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid #ff006e;
    border-radius: 8px;
    width: 378px;
    padding: 21.5px 0;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.instagram:hover {
    background-color: #272727;
    font-style: oblique;
}


.logo_link {
    height: 15px;
    width: 15px;
    color: white;
}