/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hash da cor secundaria da nossa pagina 7209b7 */

body {
    height: 100vh;
    background-color: black;
    color: white;
}

.destaque_intro {
    color: #7209b7;
}

.conteudo {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo__apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-family: "Indie Flower", cursive;
    font-size: 36px;
}

.intro {
    font-family: "Mitr", sans-serif;
    font-size: 24px;
}

.foto_yuri {
    height: 420px;
    width: 392px;
    border-radius: 22px;
}

.links {
    display: flex;
    justify-content: space-between;
}

/* 001d3d hash cor github, hash cor linkedIn 0077b6*/

.linkedin {
    background-color: #1e88e5;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Mitr", sans-serif;
    font-style: oblique;
    font-weight: bold;
    color: white;
}

.github {
    background-color: #001d3d;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
    color: white;
}