/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hash da cor secundaria da nossa pagina 7209b7 */

body {
    height: 100vh;
    background-color: black;
    color: white;
}

.destaque_intro {
    color: #7209b7
}

.conteudo {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.conteudo__apresentacao {
    width: 615px;
}

.titulo {
    font-size: 36px;
}

.intro {
    font-size: 24px;
}

.foto_yuri {
    height: 350px;
    width: 350px;
    border-radius: 35px;
}